h3 Заявка на обратный звонок с сайта <br>
    a(href='[[++site_url]]') [[++site_name]]
p
    b Форма:
    a(href='[[++site_url]][[~[[*id]]]]') [[+form_name:default=`Заказать звонок`]]
|<p><b>Имя: </b>[[+client_name:notempty=`[[+client_name]]`]]</p>
|<p><b>Телефон: </b>[[+client_phone:strip_tags=``:notempty=`<a href="tel:[[+client_phone:phone]]">[[+client_phone]]</a>`]]</p>
|<p><b>Email: </b>[[+client_email:notempty=`[[+client_email]]`]]</p>
|<p><b>Город: </b>[[+client_city:notempty=`[[+client_city]]`]]</p>
|<p><b>Сообщение: </b>[[+client_message:notempty=`[[+client_message]]`]]</p>
|<p><b>Выбранный сервис: </b>[[+service:notempty=`[[+service]]`]]</p>