h3 Заявка на обратный звонок с сайта <br>
    a(href='[[++site_url]]') [[++site_name]]
p
    b Форма:
    a(href='[[++site_url]][[~[[*id]]]]') [[+form_name:default=`Заказать звонок`]]
|[[+client_name:notempty=`<p><b>Имя: </b>[[+client_name]]</p>`]]
|[[+client_phone:strip_tags=``:notempty=`<p><b>Телефон: </b><a href="tel:[[+client_phone:phone]]">[[+client_phone]]</a></p>`]]
|[[+client_email:notempty=`<p><b>Email: </b>[[+client_email]]</p>`]]
|[[+client_city:notempty=`<p><b>Город: </b>[[+client_city]]</p>`]]
|[[+client_message:notempty=`<p><b>Сообщение: </b>[[+client_message]]</p>`]]
|[[+service:notempty=`<p><b>Выбранный сервис: </b>[[+service]]</p>`]]