@import 'nib'
@import 'rupture'
@import 'mixins/_mixins.styl'
@import 'mixins/_fonts.styl'

cmsTpl = '/'

html
	font-size 16px
	line-height 1.5

body
	font-family 'Roboto', sans-serif

.test-class
	font bold rem(52px) / 3 'RobotoCondensed-Bold', sans-serif